<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>login</h1>
    <form action="/user/login" method="post">
        <label for="" >email</label>
        <input type="text" name="email" placeholder="enter email">
        <label for="" >password</label>
        <input type="text" name="password" placeholder="enter password">
        <button type="submit">login</button>
    </form>
</body>
</html>